<h3 class="abilities-title pf-heading">{{stringify "PF2E.AbilityScoresHeader"}}</h3>
<ol class="abilities-list">
  {{#each data.abilities as |ability id|}}
  <li class="ability" data-ability="{{id}}">
    <h4 class="ability-name">{{ability.label}}</h4>
    <span class="ability-id" title="{{stringify "PF2E.AbilityTitle"}}">{{id}}</span>
    <span class="ability-mod" title="{{stringify "PF2E.ModifierTitle"}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
    <span class="ability-score" title="{{stringify "PF2E.ScoreTitle"}}">
      <input name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}"
                                                            data-dtype="Number" placeholder="10"/>
    </span>
  </li>
  {{/each}}
</ol>
