<div class="tab character" data-group="primary" data-tab="character">
  <section class="character-details">
    <div class="frame">
      <img class="player-image" alt="{{actor.name}}" src="{{@root.baseUrl}}{{actor.img}}" title="{{actor.name}}"
        data-edit="img" />
    </div>
    <div class="alignment">
      <span class="bio-alignment pf-value pf-small" title="{{stringify 'PF2E.AlignmentTitle'}}">
        {{data.details.alignment.value}}
      </span>
    </div>
    <div class="deity">
      <div class="dropdown">
        <label for="deity-dropdown">
          {{stringify 'PF2E.Deity'}}
        </label>
        <input id="pc pc_deity" name="data.details.deity.value" type="text" value="{{data.details.deity.value}}"
          data-dtype="String" />
      </div>
      <img src="{{@root.baseUrl}}{{data.details.deity.image}}" alt="{{data.details.deity.value}}"
        title="{{stringify 'PF2E.DeityTitle'}}" data-edit="data.details.deity.image" />
    </div>
    <div class="detail-sheet">
      <div class="pc pc_ancestry">
        <label for="pc_ancestry">
          {{stringify 'PF2E.Ancestry'}}
        </label>
        <span title="{{stringify 'PF2E.AncestryTitle'}}">
          <input id="pc pc_ancestry" name="data.details.ancestry.value" type="text"
            value="{{data.details.ancestry.value}}" data-dtype="String" />
        </span>
      </div>
      <div class="pc pc_heritage">
        <label for="pc_heritage">
          {{stringify 'PF2E.Heritage'}}
        </label>
        <span title="{{stringify 'PF2E.HeritageTitle'}}">
          <input id="pc pc_heritage" name="data.details.heritage.value" type="text"
            value="{{data.details.heritage.value}}" data-dtype="String" />
        </span>
      </div>
      <div class="pc pc_class">
        <label for="pc_class">
          {{stringify 'PF2E.Class'}}
        </label>
        <span title="{{stringify 'PF2E.ClassTitle'}}">
          <input id="pc pc_class" name="data.details.class.value" type="text" value="{{data.details.class.value}}"
            data-dtype="String" />
        </span>
      </div>
      <div class="pc pc_background">
        <label for="pc_background">
          {{stringify 'PF2E.Background'}}
        </label>
        <span title="{{stringify 'PF2E.BackgroundTitle'}}">
          <input id="pc pc_background" name="data.details.background.value" type="text"
            value="{{data.details.background.value}}" data-dtype="String" />
        </span>
      </div>
      <div class="pc pc_gender">
        <label for="pc_gender">
          {{stringify 'PF2E.Gender'}}
        </label>
        <span title="{{stringify 'PF2E.GenderTitle'}}">
          <input id="pc pc_gender" name="data.details.gender.value" type="text" value="{{data.details.gender.value}}"
            data-dtype="String" />
        </span>
      </div>
      <div class="detail-small">
        <div class="pc pc_age">
          <label for="pc_age">
            {{stringify 'PF2E.Age'}}
          </label>
          <span title="{{stringify 'PF2E.AgeTitle'}}">
            <input id="pc pc_age" name="data.details.age.value" type="text" value="{{data.details.age.value}}"
              data-dtype="String" />
          </span>
        </div>
        <div class="pc pc_height">
          <label for="pc_height">
            {{stringify 'PF2E.Height'}}
          </label>
          <span title="{{stringify 'PF2E.HeightTitle'}}">
            <input id="pc pc_height" name="data.details.height.value" type="text" value="{{data.details.height.value}}"
              data-dtype="String" />
          </span>
        </div>
        <div class="pc pc_weight">
          <label for="pc_weight">
            {{stringify 'PF2E.Weight'}}
          </label>
          <span title="{{stringify 'PF2E.WeightTitle'}}">
            <input id="pc pc_weight" name="data.details.weight.value" type="text" value="{{data.details.weight.value}}"
              data-dtype="String" />
          </span>
        </div>
      </div>
    </div>
  </section>

  <hr style="margin-top: 1rem;">
  <section class="character-traits">
    {{> ../character-traits}}
  </section>

  <h3>{{stringify 'PF2E.AbilityScoresHeader'}}</h3>
  <section class="character-abilities">
    {{> ../character-abilities}}
  </section>

  <footer>
    <p>
      This system for FoundryVTT uses trademarks and/or copyrights owned
      by Paizo Inc., which are used under Paizo's Community Use Policy. We
      are expressly prohibited from charging you to use or access this
      content. This system for FoundryVTT is not published, endorsed, or
      specifically approved by Paizo Inc. For more information about
      Paizo's Community Use Policy, please visit
      <a href="https://paizo.com/community/communityuse">
        paizo.com/communityuse.
      </a>
      For more information about Paizo Inc. and Paizo products, please
      visit
      <a href="https://paizo.com/">paizo.com</a>
      .
    </p>
  </footer>
</div>
